!!!
%html
  %head
    %link{:href => "popup.css", :rel => "stylesheet", :type => "text/css"}
  %body
    #topbar
    
    #playing-container
      
      #header
        #song-details
          #song-name
          #artist-name
      
      #not-playing-container There's nothing playing right now.
      - # Todo: add links to get started with sway
      
      #art-holder
        %img#album-art
        #controls
          #thumbs-down
          #thumbs-up
          #favorite
          #previous
          #play-pause
          #next
      
      #sway-cta
        Like Sway.fm?
        %a{:href => "https://chrome.google.com/webstore/detail/swayfm-unified-music-medi/icckhjgjjompfgoiidainoapgjepncej/reviews?hl=en-US", :target => "_blank"} Rate it
        and
        %a#share-link{:href => ""} share with friends!
      
      #sway-share
        %label{:for => "share-url"} Share this url:
        %input#share-url{:type => "text", :value => "https://chrome.google.com/webstore/detail/swayfm-unified-music-medi/icckhjgjjompfgoiidainoapgjepncej?hl=en-US"}
        
        %a{:href => "http://twitter.com/home?status=Love%20the%20@swayfm%20extension!%20(Play/pause%20streaming%20music%20using%20media%20keys)%20http://goo.gl/8TiDKH", :target => "_blank"}
          %img.share{:src => "images/share-buttons/twitter.png"}
        
        %a{:href => "https://www.facebook.com/sharer.php?s=100&p%5Burl%5D=https%3A%2F%2Fchrome.google.com%2Fwebstore%2Fdetail%2Fswayfm-unified-music-medi%2Ficckhjgjjompfgoiidainoapgjepncej%3Fhl%3Den-US&p%5Bimages%5D%5B0%5D=https%3A%2F%2Flh3.googleusercontent.com%2FY1q2NYND_THaEVgyb--4NedSPUkQjPfV2BpV9FNxQBrk9dnWQMTrBowzBDu1ufqilvtcn8bo%3Dw120-h120&p%5Btitle%5D=Sway.fm%20for%20Chrome&p%5Bsummary%5D=Use%20the%20buttons%20that%20normally%20pause%20iTunes%2C%20to%20play%2Fpause%20any%20music%20playing%20through%20a%20webpage%20in%20Chrome!", :target => "_blank"}
          %img.share{:src => "images/share-buttons/facebook.png"}
       
        %a{:href => "https://plus.google.com/share?url=https://chrome.google.com/webstore/detail/swayfm-unified-music-medi/icckhjgjjompfgoiidainoapgjepncej?hl=en-US", :target => "_blank"}
          %img.share{:src => "images/share-buttons/gplus.png"}
    
    %script{:src => "popup.js"}