!!!
%html
  %head
    %link{:href => "http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "popup.css", :rel => "stylesheet", :type => "text/css"}
  %body.loading
    #topbar
    #playing-container
      #header.no-music
        #song-details
          #song-name
          #artist-name
        #controls
          #thumbs-down
          #thumbs-up
          #favorite
          #previous
          #play-pause
          #next
      #not-playing-container.no-player
        %p
          There's nothing playing right now.
          %a.launch-options
            Problems?
      #art-holder.yes-player{:style => "display: none;"}
        %img#album-art
        #sway-cta
          Like Sway.fm?
          %a{:href => "https://chrome.google.com/webstore/detail/swayfm-unified-music-medi/icckhjgjjompfgoiidainoapgjepncej/reviews?hl=en-US"}
            Rate it
          and
          %a#share-link
            Share with friends!
    #loading
      %p
        Loading...
    %script{:src => "popup.js"}
    -# %script{:src => "track.js", :async => true}
