body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
}

/* -----------------------------------------------------------------------------
 * Header
 * ---------------------------------------------------------------------------*/

#header {
  text-align: center;
  padding: 10px 0;
}

/* -----------------------------------------------------------------------------
 * Song Details
 * ---------------------------------------------------------------------------*/

#song-name {
  font-weight: bold;
}

#artist-name {

}

/* -----------------------------------------------------------------------------
 * Controls
 * ---------------------------------------------------------------------------*/

#controls { }
#next { }
#previous { }
#play-pause { }
#favorite { }
#thumbs-up { }
#thumbs-down { }

/* -----------------------------------------------------------------------------
 * Album Art
 * ---------------------------------------------------------------------------*/

#art-holder {
  display: none;
}

#album-art {

}

/* -----------------------------------------------------------------------------
 * Footer
 * ---------------------------------------------------------------------------*/

#sway-cta {
  padding: 10px 0;
  text-align: center;
  font-size: 12px;
} 