!!!
%html
  %head 
    %link{href: "options.css", rel: "stylesheet", type: "text/css"}/
    %title Sway.fm's Media Keys
  %body
    #topbar
    #sidebar
      %img#logo{alt: "Unity", src: "logo.png"}
    #content
      .main-title
        Thank you for installing!  
      .section
        .section-title
          Problems?
        .section-content
          If you see the song information in the extensions popup window, but the media keys aren't working, go to 
          %a{href:"chrome://extensions"}chrome://extensions
          and click the Keyboard Shortcuts button at the bottom to make sure they are set.  Make sure you don't have any competing extensions stealing the keys, like Google Play Music.  If it still doesn't work, or the site you use isn't supported or is broken, email us at 
          %a{href: "mailto:hello@sway.fm"}hello@sway.fm
          for help.

      .section
        .section-title
          Ignore Youtube
          %input#ignore-youtube-checkbox{type: "checkbox"}
        .section-content
          Check this if you'd like to play youtube videos while listening to music, and don't want to auto-pause the music when you start playing a youtube video.

      .section
        .section-title
          Scrobbling
        .section-content
          %a#lastfm-enable{href: "#"}
            Enable Last.fm Scrobbling
          %a#lastfm-loading{href: "#"}
            Logging in to last.fm

      .section
        .section-title
          Support The Extension
        .section-content
          If you appreciate the extension and want to see more features and supported sites consider donating, or even just saying thanks.
        %a.donate{href:"https://www.coinbase.com/msfeldstein"}
          %img{src: "bitcoin.png"}
        %a.donate.dogecoin-button{href:"#"}
          %img{src: "dogecoin.png"}
        %form{:action => "https://www.paypal.com/cgi-bin/webscr", :method => "post", :target => "_top", :style => "display:inline"}
          %input{:name => "cmd", :type => "hidden", :value => "_donations"}/
          %input{:name => "business", :type => "hidden", :value => "msfeldstein@gmail.com"}/
          %input{:name => "lc", :type => "hidden", :value => "US"}/
          %input{:name => "item_name", :type => "hidden", :value => "Sway.fm"}/
          %input{:name => "no_note", :type => "hidden", :value => "0"}/
          %input{:name => "currency_code", :type => "hidden", :value => "USD"}/
          %input{:name => "bn", :type => "hidden", :value => "PP-DonationsBF:btn_donate_LG.gif:NonHostedGuest"}/
          %input{:alt => "PayPal - The safer, easier way to pay online!", :border => "0", :name => "submit", :src => "paypal.png", :type => "image"}/

        %a.donate{href:"http://twitter.com/swayfm"}
          %img{src: "twitter.png"}


      
    %script{src: "options.js", type: "text/javascript"}
    %script{src: "track.js", type: "text/javascript"}