!!!
%html
  %head
    %script{:src => "jquery_1.10.2.min.js"}
    %script{:src => "mappings.js"}
    %script{:src => "background.js"}
    %script{:src => "lastfm/lastfm.api.md5.js"}
    %script{:src => "lastfm/lastfm.api.js"}
    %script{:src => "scrobbler.js"}
    %script{:src => "media_key_support_npapi.js"}
    - # Todo: add sway favoriting support back here
  %body